## .gitignore

# Related project files
rev.h
*.o
me.exe
me

# Related tag files
TAGS
tags
cscope.out*
cscope.in.out
cscope.po.out
cscope.files

# Related tool files
microemacs-*.tar.gz
regtest
tcap
utf8
reftag
syntax-test
display-test
cscope-test
